# This workflow will build and push a node.js application to an Azure Web App on every push to the dev branch.
#
# To configure this workflow:
#
# 1. Set up a secret in your repository named AZURE_WEBAPP_PUBLISH_PROFILE with the value of your Azure publish profile.
#
# 2. Change the values for the AZURE_WEBAPP_NAME, AZURE_WEBAPP_PACKAGE_PATH and NODE_VERSION environment variables  (below).
#
# For more information on GitHub Actions for Azure, refer to https://github.com/Azure/Actions
# For more samples to get started with GitHub Action workflows to deploy to Azure, refer to https://github.com/Azure/actions-workflow-samples
on:
    push:
        branches:
            - users/daniellemott/stage_pipeline
env:
    AZURE_WEBAPP_NAME: adaptivecms # set this to your application's name
    AZURE_WEBAPP_PACKAGE_PATH: "private-templates-service/" # set this to the path to your web app project, defaults to the repository root
    NODE_VERSION: "12.x" # set this to the node version to use

jobs:
    build-test-and-deploy:
        name: Build Test and Deploy
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2.0.0
              with:
                  ref: users/daniellemott/stage_pipeline
            - name: Use Node.js ${{ env.NODE_VERSION }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ env.NODE_VERSION }}
            - name: Find and Replace CLIENT_SECRET_TOKEN and DB_CONNECTION_TOKEN
              uses: cschleiden/replace-tokens@v1
              with:
                files: '["*.ts"]'
              env:
                CLIENT_SECRET_TOKEN: ${{ secrets.AZURE_ADAPTIVECMS_DEV_CLIENT_SECRET }}
                DB_CONNECTION_TOKEN: ${{ secrets.AZURE_ADAPTIVECMS_DB_CONNECTION_STRING }}
                CLIENT_ID_TOKEN: ${{ secrets.AZURE_ADAPTIVECMS_DEV_CLIENT_ID }}
                LINK_TOKEN: https://adaptivecms.azurewebsites.net/
            - name: Adaptive Cards Templating Service Test
              run: |
                  cd private-templates-service/adaptivecards-templating-service
                  npm install
                  npm run test
                  cd ..
            - name: Frontend Jest Test
              run: |
                  cd private-templates-service/adaptivecards-templating-client/typescript
                  npm install
                  npm run build
                  npm link
                  cat api.ts
                  cat api.js
                  cd ../../client
                  npm link adaptive-templating-service-typescript-node
                  npm install
                  cd src
                  npm link adaptive-templating-service-typescript-node
                  cd ..
                  npm run test
                  cd ..
            - name: Install in server
              run: |
                  cd private-templates-service/adaptivecards-templating-service
                  npm link
                  cd ../server
                  npm link adaptivecards-templating-service
                  npm install
                  cd ..
            - name: Create production build
              if: success()
              run: |
                  # Build and test the project, then
                  # deploy to Azure Web App.
                  cd private-templates-service/client
                  npm run build:dev --if-present
                  cd ../adaptivecards-templating-service
                  npm link
                  cd ../server
                  npm link adaptivecards-templating-service
                  npm install
                  npm run deploy
            # - name: "Deploy to Azure WebApp"
            #   if: success()
            #   uses: azure/webapps-deploy@v1
            #   with:
            #       app-name: ${{ env.AZURE_WEBAPP_NAME }}
            #       publish-profile: ${{ secrets.AZURE_ADAPTIVECMS }}
            #       package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
