
trigger: none

pr:
  branches:
    include:
    - dev

pool:
  vmImage: 'ubuntu-latest'

steps:

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
        Write-Host "##vso[task.setvariable variable=ACMS_APP_ID;]$(REACT_APP_ACMS_APP_ID)"
        Write-Host "##vso[task.setvariable variable=ACMS_APP_SECRET;]$(CLIENT_SECRET)"


- task: NodeTool@0 
  inputs:
    versionSpec: '12.x'

- script: |
    echo $(APP_SECRET)
    cd private-templates-service/server
    npm run init-app
    cd ../client
    npm run build
  displayName: Build App

- script: |
    cd private-templates-service/client
    npm run test
  displayName: Run frontend tests
    
- script: |
    cd private-templates-service/adaptivecards-templating-service
    npm run test
  displayName: Run backend tests

- script: |
    cd private-templates-service/server
    npm run deploy
  displayName: Build backend