on:
    pull_request:
        branches:
            - stage
            
jobs:
    build-test-and-deploy:
        name: Run Tests and Build 
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2.0.0
              with:
                  ref: stage
            - name: Use Node.js ${{ env.NODE_VERSION }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ env.NODE_VERSION }}
            - name: Find and Replace CLIENT_SECRET_TOKEN and DB_CONNECTION_TOKEN
              uses: cschleiden/replace-tokens@v1
              with:
                files: '["**/*.ts"]'
              env:
                CLIENT_SECRET_TOKEN: ${{ secrets.AZURE_ADAPTIVECMS_CLIENT_SECRET }}
            - name: Adaptive Cards Templating Service Test
              run: |
                  cd private-templates-service/adaptivecards-templating-service
                  npm install
                  npm run test
                  cd ..
            - name: Frontend Jest Test
              run: |
                  cd private-templates-service/adaptivecards-templating-client/typescript
                  npm install
                  npm run build
                  npm link
                  cd ../../client
                  npm link adaptive-templating-service-typescript-node
                  npm install
                  cd src
                  npm link adaptive-templating-service-typescript-node
                  cd ..
                  npm run test
                  cd ..
            - name: Install in server
              run: |
                  cd private-templates-service/adaptivecards-templating-service
                  npm link
                  cd ../server
                  npm link adaptivecards-templating-service
                  npm install
                  cd ..
            - name: Create test build
              if: success()
              run: |
                  cd private-templates-service/client
                  npm run build:staging --if-present
                  cd ../server
                  npm run deploy